p{ color: black;
font-size: 20px;
}

section {
    font-family: 'Itim', cursive;
    width: 780px;
    padding: 50px;
    margin: 0 auto;

    
  }
  #miparrafo { 
    color: black;
    font-size: 30px;
    ;

}

h1 { 
  color: black;
  font-size: 40px;
 

}
h2
{ 
  color: black;
  font-size: 70px;
  margin:0 auto;

 }

body { 
 background-color: beige;

 }
 button {
  color: black;
  font-size: 10px;
  background-color: lightblue;

 }
 

 img {
   border-radius: 50%;
   
 }
li  {
 padding:0 ;
 list-style: none;
 font-size: 20px;
  
}
