* {
  box-sizing: border-box;
}


.header {
  border: 10px solid white;
  padding-top: 15px;
  margin: 0%;
  position:fixed;
}

.nav {
  width:300px; /*Le establecemos un ancho*/
  margin:0 auto; /*Centramos automaticamente*/
  display: flex;
  justify-content: center;
 

 
}

.nav li > a {
  float:left;
  display:flex;
  text-transform: uppercase;
  padding: 10px 12px 10px 12px 10px 12px;
  padding-top: 10px;
}

.nav  a {
  background-color: none ;
  color:lightslategray;
 text-align: none;
  padding:10px 12px;
  display:ruby-base;
  text-decoration: none;
  
}

.nav li a:hover {
  background-color:#434343;
}

.nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
}

.nav li:hover > ul {
  display:block;
}

.nav li ul li {
  position:relative;
}

.nav li ul li ul {
  right:-140px;
  top:0px;
}
.cursos {
  width: 100%;
  float: right;
  padding: 15px;
  border: 10px solid beige;
  margin:auto;
  position: relative;
}
.formación {
  width: 100%;
  float: right;
  padding: 40px;
  border: 10px solid beige;
  margin:auto;
  position: relative;
}
.perfil {
  background-color: rgb(159, 159, 45);
  background-clip: border-box;
  width: 100%;
  float: none;
 flood-color: bisque;
  padding: 15px;
  border: 10px solid beige;
  margin:0 auto;
  display: flex;
  position: relative;
  justify-self: center;
}
.conocimientos {
  width: 100%;
  float: right;
  padding: 15px 10px 10px 15px ;
  border: 10px solid beige;
  margin:auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.conocimientos li {
 
  padding: 15px 10px 10px 15px ;
  
}
.experiencia {
  width: 100%;
  float: right;
  padding: 15px;
  border: 10px solid beige;
  margin:auto;
  position:relative;
}
.contacto {
  width: 100%;
  float: right;
  padding: 15px;
  border: 10px solid beige;
  margin:auto;
  position: relative;
  justify-self: center;

}
.perfil {
  width: 100%;
  float: right;
  padding: 15px;
  border: 10px solid beige;
  margin:auto;
  position: relative;
  display: flex;
  justify-content: center;
}
.floor {
  width: 100%;
  float: right;
  padding: 15px;
  border: 10px solid beige;
  margin:auto;
  position: relative;

  justify-content: right;
}